* {
  margin: 0;
  padding: 0;
}

.imgbox {
  display: grid;
  height: 100%;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.white-text {
  color: #ffffff;
}

.orange-text {
  color: #d17900;
  font-family:'Varela Round';
}

.light-orange-text {
  color: #eab344;
  font-family:'Varela Round';
}

.description-section {
  padding-top:8rem; 
  padding-bottom:15rem; 
}

.container-margin {
  margin:auto;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.video {
  margin:auto;
  align-content: center;
}

.scholarship-section {
  padding-top:8rem; 
  padding-bottom:5rem; 
  background:#ef9000;
}

.float-left {
  float: left;
  margin: 4px;
  padding-right: 2rem;
}

.scholarship-paragraph {
  padding-top: 1rem;
}

.join-us-section {
  padding-top:8rem; 
  padding-bottom:5rem; 
}